<html>
	<head>
		<title>Create new post</title>
	</head>
	<body>
    <form action="/create" method="POST">
      Title: <input type="text" name="title"><br>
      Body: <input type="text" name="body"><br>
      <input type="submit" value="Submit">
    </form>
	</body>
</html>
